@import url(public.css);
.doc{
	background: #fff;
	min-width: 1190px;
}
.head{
	background: #fff;
	min-width: 1190px;
}
.headtop{
	height: 34px;
	border-bottom: 1px solid #fff;
	background-color: #eee;
}
.headtp{
	width: 1190px;
	height: 34px;
	margin:0 auto;
}
.hdtpleft{
	float: left;
	display: block;
	height: 34px;
	padding-left: 4px;
	color: #d4d4d4;
}
.hdtplthome{
	display: block;
	float: left;
	position: relative;

}
.hdtplthome a{
	float: left;
	line-height: 34px;
	display: block;
	/*background: url(../image/header-02.png) -225px 7px no-repeat;*/
	padding-left: 27px;
	margin: 0 6px;
}
.hdtplthome a s{
	background: url(../image/header-02.png) -225px 0 no-repeat;
	width: 21px;
	height: 21px;
	position: absolute;
	top: 7px;
	left: 6px;
}
.hdtplthome a:hover{
	color: #e5004f;
	/*background: url(../image/header-02.png) -225px -20px no-repeat;*/
}
.hdtplthome a:hover s{
	/*color: #e5004f;*/
	background: url(../image/header-02.png) -225px -27px no-repeat;
}
.separator{
	float: left;
	width: 0;
	height: 14px;
	position: relative;
	top: 10px;
	left: 0;
	border-left: 1px solid #ccc;
	margin: 0 4px;
}
#wechatChod{
	width: 79px;
	height: 34px;
}